<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QES Dashboard</title>
    <meta name="author" content="Jayant">
    <meta name="description" content="">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>



<header class="bg-teal-400">
    <nav class="flex justify-end w-full bg-purple-500 text-white p-4">

        <div class="md:items-center md:w-auto flex"></div>

        <div class="flex justify-end text-sm" v-else>
            <div class="flex justify-end ">
                <form method="POST" action="/logout">
                    <button name="signout"
                        class="p-2 ml-2 bg-teal-500 text-gray-100 font-semibold leading-none border border-teal-600 rounded hover:border-transparent hover:bg-teal-600"
                        type="submit">Log Out</button>
                </form>
            </div>
        </div>
        </div>
    </nav>
</header>
<br>
<main class="flex justify-center items-center">

    <h1 class="sm:text-4xl text-5xl font-medium title-font mb-2 text-gray-900">Welcome</h1>
</main>
<div class="bottomNav fixed bottom-0 w-full">
    <nav style="border:1px solid blue" class="md:hidden bottom-0 w-full bg-gray-700 text-xs">
    </nav>
</div>

<body>
    <form>
        <% var num=1 %>
            <% var opt=1 %>
                
                    <%quslist.forEach((Q)=> {%>

                        <div
                            class="h-auto py-20 px-10 w-full bg-indigo-500 flex flex-col space-y-5 mx-auto rounded-3xl shadow-xl hover:rotate-1 transition-transform">
                            <h1 class=" font-medium text-black text-2xl tracking-wide">Q-<%- num %>
                                    <%- Q.question %>
                            </h1>
                            <% for(opt=1; opt <=4;opt++) { %>
                                <label class="flex radio p-2 cursor-pointer">
                                    <input class="my-auto transform scale-125" type="radio" name="sfg<%= num %>"
                                        id="radio_<%= num %>_<%= opt %>" />
                                    <div class="title px-2">
                                        <% if(opt==1){ %>
                                        <%- Q.option_1 %>
                                        <% } %>
                                        <% if(opt==2){ %>
                                        <%- Q.option_2 %>
                                        <% } %>
                                        <% if(opt==3){ %>
                                        <%- Q.option_3 %>
                                        <% } %>
                                        <% if(opt==4){ %>
                                        <%- Q.option_4 %>
                                        <% } %>
                                    </div>
                                </label>
                                <% } %>





                        </div>
                        <% num++ %>
                            <%})%>
                                <br>
                                <br>
                                <div class=" flex justify-around">
                                    <button
                                        class="bg-black hover:bg-gray-500 text-white font-bold py-2 w-1/6 border-b-4 border-blue-dark hover:border-blue rounded"
                                        type="button">
                                        Exit
                                    </button>
                                    <button
                                        class="bg-black hover:bg-gray-500 text-white font-bold py-2 w-1/6 border-b-4 border-blue-dark hover:border-blue rounded"
                                        type="submit">
                                        Submit
                                    </button>
                                </div>
                                <br>
                                <br>
    </form>
    <% var answer = answer%>
    <h1><%-answer[1]%></h1>
    <script>
        var marks = 0
        var num = "<%= quslist.length %>"
        var quslist = []
        quslist = <%- JSON.parse(answer) %>
        

        console.log(quslist,"gfjh")

        var form = document.querySelector("form")
        form.addEventListener("submit", function (event) {
            for(var i = 1 ;i<= num;i++)
            {
                var radioame = 'sfg'+i
                var ele = document.getElementsByName(radioame)
                for(var j=1;j<=ele.length;j++)
                {
                    if(ele[j].checked == quslist[j].answer)
                    {
                        marks+=1
                        return marks
                    }   
                }
            }
            

        })
    </script>
</body>

</html>